<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:18:09</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;logintest.afterTest()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:09</td>   <td>-59755</td> <td>&nbsp;</td><td title="&gt;&gt;logintest.beforeTest()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:21</td>   <td>-47880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_000()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_000</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:21</td>   <td>-47672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_001(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_001</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:33</td>   <td>-36427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_002()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_002</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:38</td>   <td>-31349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_003()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_003</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:39</td>   <td>-29703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_004()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_004</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:41</td>   <td>-28344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_005()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_005</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:42</td>   <td>-26983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_006()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_006</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:43</td>   <td>-25706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_007()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_007</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:45</td>   <td>-24362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_008()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_008</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:46</td>   <td>-23032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_009()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_009</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:54</td>   <td>-14886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_010()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_010</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:56</td>   <td>-12988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_011()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_011</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:17:57</td>   <td>-11627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_012()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_012</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:18:05</td>   <td>-3966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_013()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_013</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:18:06</td>   <td>-2625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_014()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_014</td> 
  <td>main@1263841085</td>   <td></td> </tr>
<tr bgcolor="85b2ec">  <td>23/07/04 13:18:08</td>   <td>-1293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logintest.tc_015()[pri:0, instance:Pkg_Extent.logintest@5bca7664]">tc_015</td> 
  <td>main@1263841085</td>   <td></td> </tr>
</table>
